footer {  
  background-color: #f4f9f9;
  padding: 0;
  /* padding-left: 0;
  padding-right: 0; */
  position: relative;
  width: 100%;
  color: rgb(80,80,80);
}

.footer-container {
  height: 65px;
  overflow: hidden;
  touch-action: none;
  box-shadow: 0 0 10px gray;
}

.toggle-button {
  vertical-align: middle;
  cursor: pointer;
  line-height: 65px;
  width: 20%;
  /* padding-left: max(10px, 10vw);
  padding-right: max(10px, 10vw); */
  font-size: 30px;
}
/* 
.toggle-button:active {
  background-color: blue;
} */

.menu {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .close {
  --color: #ff7f82;
  --hover: #ffdc7f;
  color: var(--color);
  transition: 1s;
} */

.footer-icon {
  vertical-align: middle;
}

.footer-btn-clicked {
  /* box-shadow: inset min(-20px, -20vw) 0 0 0 #ffdc7f, inset max(20px, 20vw) 0 0 0 #ffdc7f;
  background-color: #ffdc7f;
  transition: box-shadow 0.5s, background-color 0s 0.5s; */
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.5)) !important;
}

.main-btn{
  filter: invert(0.5)
}