.fd-list{
    display: flex;
}

.fd-img-box{
    height: 60px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.fd-img-box img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.fd-msg-time-container {
    border-bottom: gray solid 0.05rem;
    display: flex;
    justify-content: space-between;
    flex: 1;
    position: relative;
}

.fd-msg-box{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fd-name{
    font-size: 1em;
    width: 100%;
}

.fd-msg{
    font-size: 0.8em;
    width: 100%;
    color: gray;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.fd-time-box{
    width: 20%;
    font-size: 0.8em;
    color: gray;
    display: flex;
    align-items: flex-end;
    padding: 0.5em;
    justify-content: flex-end;
}

.chats-notice-box{
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 1rem;
    background-color: red;
    color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chats-notice-container{  
    position: relative;
}

.chat-notice-box{
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 12px;
    background-color: rgb(0 0 0 / 35%);
    color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.chat-fd-img img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.blankFd{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.frdcard-close-btn-container {
    background-color: rgba(192,192,192, 0.6);
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 18;
    opacity: 1;
    transition: 1.5s all ease;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0px #e3e3e3;
    display: none;
  }
  
  .frdcard-close-btn {
    font-size: 35px;
    cursor: pointer;
    color: #fff;
  }

  #friendCard{
    position:absolute;
    z-index: 2;
    overflow-y: auto;
    height:100%;
    width:100%;
    display:none;
  }

  .genderIcon{
      color:white;
  }