.gallery-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
}

.gallery-div{
  width: 30%;
  height: 30%;
  /* background-color: blanchedalmond; */
  margin: 5px 0;
  box-shadow: 0 0 5px 2px #e3e3e3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-div img{
  width: 100%;
  height: 100%;
}

.gallery-cover{
  object-fit: cover;
}

.delete-gallery{
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #e3e3e3;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-gallery{
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #e3e3e3;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-gallery i{
  transform: scale(0.8);
}

.gallery-text-container{
  display: flex;
  justify-content: center;
}

.gallery-edit, .gallery-done{
  position: absolute;
  right: 2%;
}

.gallery-done-button{
  color: rgb(64, 255, 47);
  text-shadow: 0 0 5px indigo;
}

.gallery-div .fa-plus-circle{
  font-size: 3rem;
}

.gallery-cancel-button{
  color: red;
  text-shadow: 0 0 5px indigo;
}

.tag-label{
  margin-right: 3px;
}