/* /* header {  
  background-color: aqua;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  color: #000;
  box-shadow: 0 0 10px 0 black;
} */

.header-container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  touch-action: none;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.head {
  background-image: linear-gradient(rgb(125, 253, 236), #f4f9f9);
  /* display: flex;
  justify-content: space-between; */
  padding-top: 10px;
  padding-bottom: 5px;
  box-shadow: 0 0 10px gray;
  height: 65px;
  width: 100%;
  /* transition: all 0.3s ease; */
  z-index: 16;
}
.head img{
  height: 50px;
}

.refresh-btn {
  font-size: 40px;
  cursor: pointer;
  display: none;
}
