#loading-background {
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgb(57,134,176);
  background: linear-gradient(135deg, rgba(91,169,205,1) 0%, rgba(74,152,191,1) 50%, rgba(57,134,176,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@keyframes rightwing {
  0% {
    transform: rotateZ(9deg);
  }
  25% {
    transform: rotateZ(-9deg);
  }
  50% {
    transform: rotateZ(-27deg);
  }
  75% {
    transform: rotateZ(-9deg);
  }
  100% {
    transform: rotateZ(9deg);
  }
}

#rightwing {
  animation: rightwing 0.1s infinite linear;
  transform-origin: center left;
  transform-box: fill-box;
}


@keyframes leftwing {
  0% {
    transform: rotateZ(-9deg);
  }
  25% {
    transform: rotateZ(9deg);
  }
  50% {
    transform: rotateZ(27deg);
  }
  75% {
    transform: rotateZ(9deg);
  }
  100% {
    transform: rotateZ(-9deg);
  }
}

#leftwing {
  animation: leftwing 0.1s infinite linear;
  transform-origin: center right;
  transform-box: fill-box;
}




.modal-background-container {
  width: 200px;
  height: 200px;
  position: relative;
}

.loading-background {
  width: 200px;
  height: 200px;
}