
*:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  overscroll-behavior: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  color: #696969;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

main.main {
  /* display: grid;
  grid-template: 1fr / 1fr; */
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  touch-action: none;
}



.hidden {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.home-footer {
  width: 40px;
  height: 40px;
}

.for-scroll {
  height: 100%;
  overflow: auto;
}