.card-body {
  overflow: hidden;
  position: absolute;
  font-size: 12px;
  height: 100%;
  width: 100%;
  /* padding-bottom: 40px; */
}

.no-transition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.stackedcards-overflow {
  overflow-y: hidden !important;
}

.stackedcards.init {
  opacity: 0; /* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
}

.stackedcards {
  position: relative;
  cursor: pointer;
  height: 100%;
}

.stackedcards * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stackedcards--animatable {
  -webkit-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}

.stackedcards-container {
  height: calc(100% - 65px - 40px);
  transform: translateY(65px);
  /* transition: top 0.1s ease; */
  width: 100%;
  top: 0;
  position: relative;
}

.stackedcards .stackedcards-container > *,
.stackedcards-overlay {
  position: absolute;
  width: calc(100%); /* set 100% */
  height: calc(100%); /* set 100% */
  will-change: transform, opacity, height;
  top: 0;
  border-radius: 20px;
}

.stackedcards-overlay {
  width: calc(100%);
}

.stackedcards-overlay.left > div,
.stackedcards-overlay.right > div,
.stackedcards-overlay.top > div {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stackedcards-overlay.left,
.stackedcards-overlay.right,
.stackedcards-overlay.top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  top: 65px;
  height: calc(100% - 65px - 40px);
  font-size: 24px; /* this style was added only for better preview */
  text-transform: uppercase; /* this style was added only for better preview */
  font-weight: 500; /* this style was added only for better preview */
  color: #fff; /* this style was added only for better preview */
}

.stackedcards-overlay.top {
  background: #e38568;
}

.stackedcards-overlay.right {
  font-size: 10rem;
  background: #e58d93;
}

.stackedcards-overlay.left {
  font-size: 10rem;
  background: #7bb3c5;
}

.stackedcards-overlay.left:empty,
.stackedcards-overlay.right:empty,
.stackedcards-overlay.top:empty {
  display: none !important;
}

.stackedcards-overlay-hidden {
  display: none;
}

.stackedcards-origin-bottom {
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}

.stackedcards-origin-top {
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.stackedcards-bottom,
.stackedcards-top,
.stackedcards-none {
  background: #fff; /* set card background background */
  height: 100%;
}

.stackedcards .stackedcards-container > :nth-child(1) {
  position: absolute;
  display: block;
}

/* global actions buttons*/
.global-actions {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
  display: none;
}

.top-action,
.right-action,
.left-action {
  width: 100%;
  height: 2em;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  box-shadow: 0 0 50px 0px gray;
}

.top-action:hover,
.right-action:hover,
.left-action:hover {
  opacity: 0.8;
}

.top-action {
  background: #e38568;
  margin-left: 10px;
  margin-right: 10px;
}

.right-action {
  background: #e58d93;
}
.left-action {
  background: #7bb3c5;
}

.drag-left {
  margin-right: 5px;
}

.drag-right {
  transform: scaleX(-1);
  margin-left: 5px;
}

@media screen and (max-width: 615px) {
  .top-action,
  .right-action,
  .left-action {
    font-size: 1.5em;
  }
}

/* elements on stacked cards */
.card-item {
  background-color: rgba(57,134,176,1);
  /* background-color: linear-gradient(135deg, rgba(91,169,205,1) 0%, rgba(74,152,191,1) 50%, rgba(57,134,176,1) 100%); */
  box-shadow: 0 0 50px 0px gray;
  overflow-y: auto;
  /* transition: transform 0.2s 1s ease; */
  height: calc(100%);
  /* padding: 20px 40px 20px; */
}

.swal2-popup{
  background-size: cover;
}

.color-white {
  color: #fff;
}