.tag-container-match-page {
  height: 100%;
  overflow-y: auto;
}

.tag-container-match-page {
  --Nhexa: 4;
  --gap: 2vw;
  --size: calc(calc(min(100vw, 600px) / var(--Nhexa)) - var(--gap));
}
/* 
@media only screen and (hover: none) and (pointer: coarse) {
  .tag-container-match-page {
      --Nhexa: 4;
  }
} */

.tag-container-match-page {
  position: relative;
}

.tag-container2-match-page {
  padding-right: calc(var(--size) * .5);
  overflow-X: hidden;
  hyphens: auto;
  position: relative;
}

.tag-container2-match-page section {
  margin: calc(var(--size) * .5) auto 0;
  width: calc(var(--size) * calc(var(--Nhexa) - 1));
  display: grid;
  grid-template-columns: repeat(var(--Nhexa), 1fr);
  grid-gap: var(--gap);
  position: relative;
}

article.profile-article-match-page {
  background: cadetblue;
  width: var(--size);
  height: calc(var(--size) / 1.1111111);
  clip-path: url(#hexagono);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  margin-right: calc(var(--size) / 2);
  color: #fff;
  overflow: hidden;
  position: relative;
}

article.profile-article-match-page:nth-child(2n) {
  margin: calc(var(--size) * -.5) calc(var(--size) * -.25) 0 calc(var(--size) * -.75);
}

.tag-grids-match-page {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0% 50%;
  /* transition: .75s; */
  clip-path: url(#hexagono);
  clip-path: inherit;
  z-index: 10;
  background-color: #FAD0C9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
  color: #555555;
}

.tag-grids-match-page-sharper {
  background-color: #FF9740;
}

.tag-grids-match-page-sharper div {
  color: #fff;
}

.card-close-btn-container {
  background-color: rgba(192,192,192, 0.6);
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 18;
  opacity: 1;
  transition: 1.5s all ease;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0px #e3e3e3;
  display: none;
}

.card-close-btn {
  font-size: 35px;
  cursor: pointer;
  color: #fff;
}

/* .card-close-btn:hover {
  opacity: 1;
  transform: scale(1.25);
  color: #e3e3e3;
} */


.card-text-container {
  position: absolute;
  bottom: 2%;
  transform: translateY(-2%);
  left: 5%;
  font-size: 20px;
  box-shadow: 0 0 10px 0px #e3e3e3;
  border-radius: 20px;
}

.card-text-container p{
  padding: 20px;
  background-color: rgba(192,192,192, 0.6);
  margin: 0;
  word-break: break-word;
  border-radius: 20px;
  color: #fff;
}

.card-text-container span {
  color: #fff;
}

.article-container {
  height: 100%;
}

.photo-container {
  height: 100%;
  position: relative;
}

.card-detail-user-photo {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.about-card {
  background: rgb(57,134,176);
  background: linear-gradient(135deg, rgba(91,169,205,1) 0%, rgba(74,152,191,1) 50%, rgba(57,134,176,1) 100%);
  /* background: rgb(57,134,176);
  background: linear-gradient(135deg, rgba(57,134,176,1) 0%, rgba(63,142,182,1) 50%, rgba(70,151,189,1) 100%); */
  /* background-image: #3986B0;#4697BD */
  border-radius: 20px;
  padding-bottom: 40px;
}

.about-card-title {
  padding: 20px;
  margin: 0;
  font-size: 24px;
  color: #fff;
}
