.profile-container, .wish-container{
  height: 100%;
  overflow: hidden;
}

.profile-info-container, .wish-container2{
  /* height: 30%; */
  margin: 20px;
  display: flex;
}

.wish-container2{
  justify-content: center;
}

.profile-img{
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0 0 10px darkorchid;
}

.profile-img img{
  width: inherit;
  border-radius: 50%;
  height: inherit;
}

.profile-info{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.tag-container{
  height: calc(100% - 200px);
  /* margin: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  overflow-y: auto;
  padding: 5px 0;
  box-shadow: 0 0 20px 5px #e3e3e3;
}
/* 
.tag-container button{
  width: 5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
} */

.tag-container {
  --Nhexa: 4;
  --gap: 2vw;
  --size: calc(calc(min(100vw, 600px) / var(--Nhexa)) - var(--gap));
}

/* @media only screen and (hover: none) and (pointer: coarse) {
  .tag-container {
      --Nhexa: 4;
  }
} */


.board {
  height: 50vh;
  background-color: aliceblue;
}

.tag-container {
  position: relative;
}

.tag-container2 {
  padding-right: calc(var(--size) * .5);
  overflow-X: hidden;
  hyphens: auto;
  position: relative;
  margin-bottom: 30px;
}

.tag-container2 section {
  margin: calc(var(--size) * .5) auto 0;
  width: calc(var(--size) * calc(var(--Nhexa) - 1));
  display: grid;
  grid-template-columns: repeat(var(--Nhexa), 1fr);
  grid-gap: var(--gap);
  position: relative;
  margin-bottom: 20px;
}

article.profile-article {
  background: cadetblue;
  width: var(--size);
  height: calc(var(--size) / 1.1111111);
  clip-path: url(#hexagono);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  margin-right: calc(var(--size) / 2);
  color: #fff;
  overflow: hidden;
  position: relative;
}

article.profile-article:nth-child(2n) {
  margin: calc(var(--size) * -.5) calc(var(--size) * -.25) 0 calc(var(--size) * -.75);
}

/* article::before {
  content: '';
  float: left; */
  /* width: 25%; */
  /* height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
  shape-outside: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
} */

.tag-grids, .wish-tag-grids, .fixed-tag{
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0% 50%;
  transition: .75s;
  clip-path: url(#hexagono);
  clip-path: inherit;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;

}

.tag-grids{
  background-color: #FF0066;
}

.wish-tag-grids{
  background-color: #00d9ff;
  color: #000;
}


.fixed-tag{
  background-color: coral;
}
/* 
article.profile-article:hover .tag-grids {
  transform: translate(-50%, -50%) rotate(-110deg);
}

article.profile-article:hover .wish-tag-grids {
  transform: translate(-50%, -50%) rotate(-110deg);
} */

figure {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 50%;
  height: 100%;
  line-height: 1;
  color: #fff;
  transition: .75s .05s;
  
}

.tag-class{
  text-align: center;
}

.user-tag {
  color: #ffffff;
}

/* for cropping */
/* #croppie-demo {
  width: 150px;
  height: 150px;
  
} */

#croppie-view {
  background: #e1e1e1;
  width: 300px;
  padding: 30px;
  height: 300px;
  margin-top: 30px
}

#croppie-demo div:first-of-type {
  border:none;
  border-radius: 50%;
  /* position: relative; */
  /* border: 5px solid; */
}

#croppie-input {
  visibility: hidden;
  position: absolute;
}

label[for=croppie-input] {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2eb2ff;
  position: absolute;
  left: 160px;
  transform: translate(-50%,-50%);
  top: 140px;
  padding: 2px;
}

#add-pic-input {
  visibility: hidden;
  position: absolute;
}

label[for=add-pic-input] {
  width:60%;
  height: 35px;
  margin-left:20%;
  margin-bottom:10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  background-color: #2eb2ff;
  
}

.croppie-uploads {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:none;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #2eb2ff;
  padding: 2px;
}
.add-pic-uploads {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:none;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #2eb2ff;
  padding: 2px;
  float: right;
}
button.add-pic-uploads:disabled {
  background-color: grey;
  color:white;
}

div:has(.add-pic-uploads){
  width:70px;
}

label[for=croppie-input] i {
  font-size: 20px;
}

label[for=croppie-uploads] i {
  font-size: 30px;
}

.modal-pic{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-pic-content {
  background-color: #fefefe;
  margin:auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
}

.modal-pic-content div:nth-child(2){
  display:flex;
  justify-content: center;
}
.modal-pic-content div:nth-child(3){
  padding:5px;
  display:flex;
  justify-content: flex-end;
}

.pic-close {
  color: #aaaaaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  float:right;
}

.pic-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

.tag-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
}

.tag-btn{
  font-size: 30px;
  color: #fff;
}

article.profile-article:hover {
  background-color: burlywood;
}



.tag-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.tag-modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.tag-modal-transition {
  transition: all 0.5s ease;
}
.tag-modal-bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.tag-modal-container {
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 20px;
  max-width: 80%;
}
.tag-modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  appearance: none;
  color: red;
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}
.addTagForm div{
  margin: 5px;
}


.modal-profile{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#add-pic-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  background: rgb(57,134,176);
  background: linear-gradient(135deg, rgba(91,169,205,1) 0%, rgba(74,152,191,1) 50%, rgba(57,134,176,1) 100%);
}

.modal-profile-content {
  background-color:#fefefe00;
  margin:auto;
  padding: 20px;
  width: 300px;
}

/* .modal-profile-content div:nth-child(1){
  display:flex;
  justify-content: flex-end;
}
.modal-profile-content div:nth-child(3){
  padding:5px;
  display:flex;
  justify-content: flex-end;
} */ 

div:has(span.profile-close){
  display:flex;
}
.profile-close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  float:right;
}

.profile-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

#editProfileForm{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-info-modal-bg{
  background: azure;
  border-radius: 20px;
}