.section-scroller-container {
  margin-top: 37px;
}

.section-scroller {
  height: 100%;
}

.button-text-container {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 37px;
  line-height: 37px;
  color: #696969;
}

.section-scroller-main {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  height: calc(100% - 37px);
  top: 37px;
  /* transition: top 0.5s ease-in-out; */
}

/* .section-scroller-main-animation {
  transition: all 0.5s ease;
} */

/* #section-scroller-main-1 {
  height: calc(100% - 37px * 3);
  top: 37px;
}

#section-scroller-main-2 {
  height: calc(100% - 37px * 3);
  top: calc(37px * 2);
}

#section-scroller-main-3 {
  height: calc(100% - 37px * 3);
  top: calc(37px * 3);
} */

.section-scroller-hidden {
  /* display: none; */
  visibility: hidden;
  top: 100%;
  position: absolute;
}

.section-scroller-menu {
  height: 100%;
  overflow: hidden;
  position: relative;
}

#section-scroller-btn-1 {
  position: absolute;
  /* top: 65px; */
  background-color: #F9E7EA;
  z-index: 10;
  transition: all 0s 0.5s ease;
}

#section-scroller-btn-2 {
  position: absolute;
  top: calc(100% - 37px * 2);
  background-color: #DDF2EA;
  z-index: 11;
  height: 37px;
}

#section-scroller-btn-3 {
  position: absolute;
  top: calc(100% - 37px * 1);
  background-color: #c9ee82;
  z-index: 12;
  height: 37px;
}

.section-scroller-toggle {
  width: 100%;
  transition: all 0.5s ease;
  height: calc(100% - 37px * 2);
  cursor: pointer;
}

.section-scroller-shadow-up {
  /* box-shadow: 0 -5px 20px -10px gray; */
  box-shadow:  0 5px 20px -3px #8c8b8b;

}
