.setting-language{
  color: #696969;
}

.setting-language-div{
  margin-top: 10px;
  border: 2px white solid;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#langChange {
  color: #696969;
}

.logout {
  width: 100px;
  border-radius: 20px;
}