html,body,.body-container {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.body-container{
  max-width: 600px;
}

body {
  margin: 0;
  padding: 0;
}

.body-container {
  display: flex;
  flex-direction: column;
  background-color: #f4f9f9;
  top: 0;
}



input:focus, button:focus {
  outline-offset: 0px;
  outline: none;
}

.profile-height{
  height: 100%;
}
