.wholikeu-title{
  text-align: center;
}

.wholikeu-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wholikeu-div-background{
  border-radius: 100%;
  background-image: linear-gradient(to bottom right, rgb(125, 253, 236), #f4f9f9);
  margin: 5px;
}

.wholikeu-div{
  height: 100px;
  width: 100px;
  margin: 5px;
}

.wholikeu-div img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.main-btn {
  font-size: 50px;
}