
*:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scrollbar-color: transparent;
  scrollbar-width: 0px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f4f9f9;
}

.head {
  background-image: linear-gradient(rgb(125, 253, 236), #f4f9f9);
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
  box-shadow: 0 0 10px gray;
  height: 65px;
  position: fixed;
  width: 100%;
}
.head img{
  height: 50px;
}

main.main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  touch-action: pan-y;
}

input:focus, button:focus {
  outline-offset: 0px;
  outline: none;
}

.logo-container{
  display: flex;
  flex-direction: column;
}

.logo-container img{
  width: 50vmin;
  height: 50vmin;
  max-height: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.foot {
  background-image: linear-gradient( #f4f9f9, rgb(125, 253, 236));
}

.hidden {
  display: none;
}

#section-scroller-btn-2 {
  top: calc(100% - 37px * 1);
  height: calc(100% - 65px - 37px * 1);
}

.section-scroller-toggle {
  height: calc(100% - 65px - 37px * 1);
}

.aboutUsWord{
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

.aboutUsWord span{
  width: 80vw;
  font-family: cursive;
}