*,
*::before,
*::after {
	box-sizing: border-box;
	scrollbar-color: transparent;
  scrollbar-width: 0px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.login-background {
	background-image: url('/main/image/background-image.png');
	background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 80% 80%;
	width: 100%;
	height: 100%;
	position: absolute;
	filter: brightness(85%) contrast(0.9);
}

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
  overflow-y: auto;
	overflow-x: hidden;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: #fff;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 35px;
	overflow-y: auto;
	overflow-x: hidden;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

@media (max-width: 400px), (max-height: 650px){

	.form-wrapper-login {
		transform: scale(0.8) translateX(25px);
	}
	
	.form-wrapper-signup {
		transform: scale(0.8) translateX(-25px);
	}

	.forms {
		margin-top: 0;
	}
} 


.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #000;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
	background-color: rgba(244, 249, 249, 0.5);
	border-radius: 10px;
	box-shadow: 5px 5px 10px 3px gray;
}

.form-wrapper.is-active .switcher-login {
	color: #000;
	transform: translateX(90px);
	background-color: rgba( 167, 226, 69, 0.65);
}

.form-wrapper.is-active .switcher-signup {
	color: #000;
	transform: translateX(-90px);
	background-color: rgba( 167, 226, 69, 0.65);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius: 5px;
	transform-origin: top;
	box-shadow: 5px 5px 10px 3px gray;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 10px;
}

.input-block label {
	font-size: 14px;
  color: rgb(75, 75, 75);
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 32px;
	color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
  box-shadow: 10px 10px 10px -10px gray;
}

.form-wrapper:not(.is-active) .form * {
	visibility: hidden;
}

.form [type='button']:not(.google-login-btn),
.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 200px;
	margin: 5px auto 5px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
  cursor: pointer;
}

.form-wrapper.is-active .form [type='button']:not(.google-login-btn),
.form-wrapper.is-active .form [type='submit']:not(.google-login-btn) {

	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: rgb(75, 75, 75);
	background: rgba(	167, 226, 69, 0.65);
  position: relative;
  /* right: 50%; */
  transform: translateX(50%);
  box-shadow: 10px 10px 10px -10px gray;
}

.btn-signup {
	color: rgb(75, 75, 75);
	background: rgba(	167, 226, 69, 0.65);
  position: relative;
  /* right: 50%; */
  transform: translateX(50%);
  box-shadow: 10px 10px 10px -10px gray;
}

.or {
  opacity: 0;
}

.oauth-btn {
  opacity: 0;
  border: none;
  margin-bottom: 1rem;
  min-height: 3rem;
  color: rgb(75, 75, 75);
}

.oauth-container {
  background: #f4f9f9;
  padding: 0px;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  line-height: 1.4rem;
  border-radius: 50px;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 200px;
  position: relative;

  box-shadow: 10px 10px 10px -10px gray;
}

.form-wrapper.is-active .oauth-btn {
	opacity: 1;
  left: 52%;
  transform: translateX(-52%);
	transition: all .4s ease-in;
}

.form-wrapper.is-active p {
  opacity: 1;
  padding: 0;
	position: relative;
  left: 45%;
  transform: translateX(0%);
  transition: all .4s ease-in;
}
