.section-scroller-container {
  margin-top: 37px;
}

.section-scroller {
  height: 100%;
}

.button-text-container {
  position: fixed;
  text-align: center;
  width: 100%;
  line-height: 37px;
}

.button-text-container button{
  position: absolute;
  right: 5px;
}

.section-scroller-main {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  height: calc(100%);
  top: 37px;
}

/* .section-scroller-main-animation {
  transition: all 0.5s ease;
} */

/* #section-scroller-main-1 {
  height: calc(100% - 37px * 3);
  top: 37px;
}

#section-scroller-main-2 {
  height: calc(100% - 37px * 3);
  top: calc(37px * 2);
}

#section-scroller-main-3 {
  height: calc(100% - 37px * 3);
  top: calc(37px * 3);
} */

.section-scroller-hidden {
  /* display: none; */
  visibility: hidden;
  top: 100%;
  position: fixed;
}

/* .section-scroller-menu {
  height: 37px;
  width: 100%;
} */

#section-scroller-btn-1 {
  position: fixed;
  top: 65px;
  background-color: #F9E7EA;
  z-index: 10;
}

#section-scroller-btn-2 {
  position: fixed;
  top: calc(100% - 37px * 2);
  background-color: #DDF2EA;
  z-index: 11;
}

#section-scroller-btn-3 {
  position: fixed;
  top: calc(100% - 37px * 1);
  background-color: #c9ee82;
  z-index: 12;
}

.section-scroller-toggle {
  width: 100%;
  transition: all 0.5s ease;
  height: calc(100% - 65px - 37px * 2);
  cursor: pointer;
}

.section-scroller-shadow-up {
  box-shadow:  0 5px 20px -3px #8c8b8b;
}
