body {
	 background: #e8ebf2;
}
 body a {
	 color: #8b8b8b;
	 text-decoration: none;
}
 .switch {
	 position: absolute;
	 height: 40px;
	 width: 180px;
	 background: rgba(139, 139, 139, 0.65);
	 cursor: pointer;
	 transform: skew(-10deg) translateX(-50%);
	 border-radius: 10px;
	 margin: auto;
	 top: 10px;
	 left: 50%;
	 /* right: 0;
	 bottom: 0; */
	 transition: all 0.2s ease-out;
	 /* text-indent: 40%; */
	 line-height: 40px;
	 box-shadow: 0px 0.5px 10px 5px #d3d3d3;
}
 .switch .span {
	 /* transform: skew(10deg); */
	 /* transition: all 0.2s ease-out; */
	 font-size: 20px;
	 z-index: -1;
	 color: #eee;
	 text-align: center;
}
 .switch:before {
	 transition: all 0.2s ease-out;
	 position: absolute;
	 content: "";
	 height: 35px;
	 width: 30px;
	 top: 2.5px;
	 left: 2.5px;
	 cursor: pointer;
	 background: #eee;
	 border-radius: 10px;
	 box-shadow: 2.5px 0 5px #6f6f6f;
}
 .switch.active {
	 transform: skew(10deg) translateX(-50%);
	 background: rgba(165, 193, 72, 0.65);
}
 .switch.active .span {
	 /* transform: skew(-10deg); */
	 /* text-indent: 30%; */
	 
}
 .switch.active:before {
	 left: 147.5px;
	 box-shadow: -2.5px 0px 5px #6f6f6f;
}

@media (max-width: 400px), (max-height: 650px){
	.switch.active {
		transform: skew(10deg) translateX(-50%) scale(0.8);
	}

	.switch {
		transform: skew(-10deg) translateX(-50%) scale(0.8);
	}
}
 